@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
h1 {

}
h2 {

}
h3 {

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.left-choice-selection,
.right-choice-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    gap: 60px;
    border: 5px dashed black;
}
.left-choice-selection span,
.right-choice-selection span {
    display: flex;
}

/* option buttons */
.optionBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.optionBtn button {
    border: 5px dashed black;
    width: 160px;
    height: 160px;
    cursor: pointer;
}

/* result block*/
.result-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px dashed black;
    width: 400px;
    height: 80px;
    padding: 30px;
}
.result-body p {

}
#result {

}

/*  reset button */
 .reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}
#reset {
    border: 5px dashed black;
    padding: 20px;
    width: 200px;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer a {
    font-size: 10px;
    text-decoration: underline;
    color: black;
    margin-top: 5px;
}














/* choice blocks*/
/* .choice {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin: 20px 0;
}
.left-choice,
.right-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 250px
}

#play-cho,
#comp-cho {
    display: flex;
    align-items: center;
    justify-content: center; */
    /* border: 5px dashed black;
    height: 80px;
    width: 200px; */
}

/* .right-choice p,
.left-choice p {

} */



/* scores blocks */
/* .scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin: 20px 0;
}
.left-score,
.right-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 250px
}

#play-score,
#comp-score {
    display: flex;
    align-items: center;
    justify-content: center; */
    /* border: 5px dashed black;
    height: 80px;
    width: 200px; */
/* }
.left-score p,
.right-score p {

} */
