@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {

}
h2 {

}
h3 {

}

/* choice blocks*/
.choice {
    display: flex;
    justify-content: center;
}
.left-choice {
    display: flex;
    flex-direction: column;
}
.left-choice p {

}
#play-cho {

}
.right-choice {
    display: flex;
    flex-direction: column;
}
.right-choice p {

}
#comp-cho {

}

/* option buttons */
.optionBtn {
    display: flex;
    justify-content: center;
}
.optionBtn button {

}

/* scores blocks */
.scores {
    display: flex;
    justify-content: center;
}
.left-score {
    display: flex;
    flex-direction: column;
}
.left-score p {

}
#play-score {

}
.right-score {
    display: flex;
    flex-direction: column;
}
.right-score p {

}
#comp-score {

}

/* result block*/
.result-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-body p {

}
#result {

}

/*  reset button */
.reset-btn {
    display: flex;
    justify-content: center;
}
#reset {

}
