@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}
.main-page {
    display: flex;
    width: 99%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-page button {
    color: var(--font-color);
    background: var(--color-primary);
    border: 5px dashed black;
    padding: 20px;
    width: 200px;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}
:root {
    --primary-color: #faea3e;
    --secondary-color: #fbfbfe;
    --font-color: #424242;
    --bg-color: #fff;
}
[data-theme="light"] {
    --color-primary: #faea3e;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
}
[data-theme="dark"] {
    --color-primary: #bd7722;
    --color-secondary: #121f40;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

.theme-switch-wrapper {
    display: flex;
    flex-direction: row;
    width: 99%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
/* .theme-switch-wrapper p {
    color: var(--font-color);
    font-size: 10px;
} */
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input + .slider {
    background-image: url(images/pixel-day.png);
    background-size: cover;
    outline: none;
    transition: background-image .90s;
    box-shadow: 5px 5px 10px var(--font-color);
}
input:checked + .slider {
    background-image: url(images/pixel-night.png);
    transition: background-image .90s;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round:before {
    background-color: #fff;
}



/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: var(--font-color);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.left-choice-selection,
.right-choice-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 5px;
    gap: 60px;
    border: 5px dashed var(--font-color);
    color: var(--font-color);
}
.left-choice-selection span,
.right-choice-selection span {
    display: flex;
}

/* option buttons */
.optionBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.optionBtn button {
    border: 5px dashed var(--font-color);
    width: 160px;
    height: 160px;
    cursor: pointer;
}

/* result block*/
.result-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}
.result-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px dashed var(--font-color);
    width: 400px;
    height: 80px;
    padding: 30px;
}
.result-body p {

}

/*  reset button */
 .reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}
#reset {
    border: 5px dashed var(--font-color);
    padding: 20px;
    width: 200px;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    color: black;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--font-color);
}
.footer a {
    font-size: 10px;
    text-decoration: underline;
    margin-top: 5px;
    color: var(--font-color);
}
.links {
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border: 5px dashed black;
}
